@model DelegationsMVC.Application.ViewModels.UserVm.UserDetailVm

<form asp-action="AddRolesToUser">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" class="form-control" />
    <div class="row">
        <div class="col-sm-4">
            <h4>Dane</h4>
            <br/>
            <dl class="row">
                <dt class="col">
                    @Html.DisplayName("Nazwa użytkownika:")
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col">
                    @Html.DisplayName("Email:")
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col">
                    @Html.DisplayName("Czy email potwierdzony:")
                </dt>
                <dd class="col">
                    @if (Model.EmailConfirmed == true)
                    {
                        <div>Tak</div>
                    }
                    else
                    {
                        <div>Nie</div>
                    }
                </dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <h4>Nadane prawa</h4>
            <br/>
            @foreach (var item in Model.Roles)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="UserRoles"
                               value="@item.Name"
                               @if (Model.UserRoles.Contains(item.Name)) { <text> checked </text> } /> @item.Name
                        </label>
                    </div>
                }
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Nadaj prawa" class="btn btn-dark" />
    </div>
</form>


@*<div>
    <a asp-action="Index">Back to List</a>
    <a class="btn btn-info" asp-action="Index">Powrót do listy użytkowników</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
