@model DelegationsMVC.Application.ViewModels.DelegationVm.NewDelegationVm

@{
    ViewData["Title"] = "AddDelegation";
}

<h1>Dodaj delegację</h1>

<form asp-action="AddDelegation">
    <div class="form-row">
        <h3>Dane podstawowe</h3>
    </div>
    <div class="form-row ">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Purpose" class="control-label">Cel delegacji</label>
                    <input asp-for="Purpose" class="form-control" />
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="DestinationId" class="control-label">Miejsce delegacji</label>
                    <select asp-for="DestinationId" asp-items="@(new SelectList(Model.Destinations, "Id", "Name"))" class="form-control"></select>
                    <span asp-validation-for="DestinationId" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" asp-for="EmployeeId" class="form-control" value="10" />
            <input type="hidden" asp-for="DelegationStatusId" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <h3>Koszty</h3>
    </div>
    <div class="col-md-8">
        <div class="form-row">
            <div class="form-group col">
                <label asp-for="Costs[0].Amount" class="control-label">Noclegi</label>
                <input asp-for="Costs[0].Amount" class="form-control" />
                <span asp-validation-for="Costs[0].Amount" class="text-danger"></span>
                <input type="hidden" asp-for="Costs[0].CostTypeId" value="1" />
            </div>
            <div class="form-group col">
                <label asp-for="Costs[1].Amount" class="control-label">Dodatkowe wydatki</label>
                <input asp-for="Costs[1].Amount" class="form-control" />
                <span asp-validation-for="Costs[1].Amount" class="text-danger"></span>
                <input type="hidden" asp-for="Costs[1].CostTypeId" value="2" />
            </div>
        </div>
    </div>
    <div class="form-row">
        <h3>Podróże</h3>
    </div>
    <div id="Podroze">
        <div class="form-row">
            <h4>I etap - do klienta</h4>
        </div>
        <div class="col-md-8">
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Routes[0].RouteTypeId" class="control-label">Rodzaj podróży</label>
                    <select asp-for="Routes[0].RouteTypeId" asp-items="@(new SelectList(Model.RouteTypes,"Id", "Name"))" class="form-control"></select>
                    <span asp-validation-for="Routes[0].RouteTypeId" class="text-danger"></span>
                </div>

                <div class="form-group col">
                    <label asp-for="Routes[0].TypeOfTransportId" class="control-label">Rodzaj transportu</label>
                    <select id="TransportTypeSelectorR0" asp-for="Routes[0].TypeOfTransportId" asp-items="@(new SelectList(Model.TransportTypes,"Id", "Name"))" class="form-control" onchange="CheckState(this,'VehicleR0','VehicleSelectorR0')"></select>
                    <span asp-validation-for="Routes[0].TypeOfTransportId" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <div id="VehicleR0" class="form-group">
                        <label asp-for="Routes[0].RouteDetail.VehicleId" class="control-label">Numer rejestracyjny pojazdu</label>
                        <select id="VehicleSelectorR0" asp-for="Routes[0].RouteDetail.VehicleId" asp-items="@(new SelectList(Model.Vehicles,"Id", "PlateNumbers"))" class="form-control"></select>
                        <span asp-validation-for="Routes[0].RouteDetail.VehicleId" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Routes[0].RouteDetail.StartDate" class="control-label">Data wyjazdu</label>
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input asp-for="Routes[0].RouteDetail.StartDate" type='text' class="form-control" />
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="Routes[0].RouteDetail.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Routes[0].RouteDetail.StartPoint" class="control-label">Miejsce wyjazdu</label>
                        <input asp-for="Routes[0].RouteDetail.StartPoint" class="form-control" />
                        <span asp-validation-for="Routes[0].RouteDetail.StartPoint" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Routes[0].RouteDetail.EndDate" class="control-label">Data przyjazdu</label>
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input asp-for="Routes[0].RouteDetail.EndDate" type='text' class="form-control" />
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="Routes[0].RouteDetail.EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Routes[0].RouteDetail.EndPoint" class="control-label">Miejsce docelowe</label>
                        <input asp-for="Routes[0].RouteDetail.EndPoint" class="form-control" />
                        <span asp-validation-for="Routes[0].RouteDetail.EndPoint" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Routes[0].RouteDetail.Kilometers" class="control-label">Kilometry</label>
                    <input asp-for="Routes[0].RouteDetail.Kilometers" class="form-control" />
                    <span asp-validation-for="Routes[0].RouteDetail.Kilometers" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="form-row">
            <h4>II etap - od klienta</h4>
        </div>
        <div class="col-md-8">
            <div class="form-row">
                <div class="form-group col">
                    <label asp-for="Routes[1].RouteTypeId" class="control-label">Rodzaj podróży</label>
                    <select asp-for="Routes[1].RouteTypeId" asp-items="@(new SelectList(Model.RouteTypes,"Id", "Name"))" class="form-control"></select>
                    <span asp-validation-for="Routes[1].RouteTypeId" class="text-danger"></span>
                </div>

                <div class="form-group col">
                    <label asp-for="Routes[1].TypeOfTransportId" class="control-label">Rodzaj transportu</label>
                    <select id="TransportTypeSelectorR1" asp-for="Routes[1].TypeOfTransportId" asp-items="@(new SelectList(Model.TransportTypes,"Id", "Name"))" class="form-control" onchange="CheckState(this,'VehicleR1','VehicleSelectorR1')"></select>
                    <span asp-validation-for="Routes[1].TypeOfTransportId" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <div id="VehicleR1" class="form-group">
                        <label asp-for="Routes[1].RouteDetail.VehicleId" class="control-label">Numer rejestracyjny pojazdu</label>
                        <select id="VehicleSelectorR1" asp-for="Routes[1].RouteDetail.VehicleId" asp-items="@(new SelectList(Model.Vehicles,"Id", "PlateNumbers"))" class="form-control"></select>
                        <span asp-validation-for="Routes[1].RouteDetail.VehicleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">

                    <div class="form-group">
                        <label asp-for="Routes[1].RouteDetail.StartDate" class="control-label">Data wyjazdu</label>
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input asp-for="Routes[1].RouteDetail.StartDate" type='text' class="form-control" />
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="Routes[1].RouteDetail.StartDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Routes[1].RouteDetail.StartPoint" class="control-label">Miejsce wyjazdu</label>
                        <input asp-for="Routes[1].RouteDetail.StartPoint" class="form-control" />
                        <span asp-validation-for="Routes[1].RouteDetail.StartPoint" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">

                    <div class="form-group">
                        <label asp-for="Routes[1].RouteDetail.EndDate" class="control-label">Data przyjazdu</label>
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input asp-for="Routes[1].RouteDetail.EndDate" type='text' class="form-control" />
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <span asp-validation-for="Routes[1].RouteDetail.EndDate" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Routes[1].RouteDetail.EndPoint" class="control-label">Miejsce docelowe</label>
                        <input asp-for="Routes[1].RouteDetail.EndPoint" class="form-control" />
                        <span asp-validation-for="Routes[1].RouteDetail.EndPoint" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="Routes[1].RouteDetail.Kilometers" class="control-label">Kilometry</label>
                    <input asp-for="Routes[1].RouteDetail.Kilometers" class="form-control" />
                    <span asp-validation-for="Routes[1].RouteDetail.Kilometers" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div id="AddRouteDiv">
            <div class="form-row">
                <div class="form-check">
                    <input asp-for="IsAdditionalRoute" class="form-check-input" type="checkbox" id="AdditionalRouteCheckBox" onchange="CheckBox()">
                    <h4>Dodatkowa podróż</h4>
                </div>
            </div>
            <div id="AdditionalRoute" class="col-md-8">
                <div class="form-row">
                    <div class="form-group col">
                        <label asp-for="Routes[2].RouteTypeId" class="control-label">Rodzaj podróży</label>
                        <select asp-for="Routes[2].RouteTypeId" asp-items="@(new SelectList(Model.RouteTypes,"Id", "Name"))" class="form-control"></select>
                        <span asp-validation-for="Routes[2].RouteTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group col">
                        <label asp-for="Routes[2].TypeOfTransportId" class="control-label">Rodzaj transportu</label>
                        <select id="TransportTypeSelectorR2" asp-for="Routes[2].TypeOfTransportId" asp-items="@(new SelectList(Model.TransportTypes,"Id", "Name"))" class="form-control" onchange="CheckState(this,'VehicleR2','VehicleSelectorR2')"></select>
                        <span asp-validation-for="Routes[2].TypeOfTransportId" class="text-danger"></span>
                    </div>
                    <div class="form-group col">
                        <div id="VehicleR2" class="form-group">
                            <label asp-for="Routes[2].RouteDetail.VehicleId" class="control-label">Numer rejestracyjny pojazdu</label>
                            <select id="VehicleSelectorR2" asp-for="Routes[2].RouteDetail.VehicleId" asp-items="@(new SelectList(Model.Vehicles,"Id", "PlateNumbers"))" class="form-control"></select>
                            <span asp-validation-for="Routes[2].RouteDetail.VehicleId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Routes[2].RouteDetail.StartDate" class="control-label">Data wyjazdu</label>
                            <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                <input asp-for="Routes[2].RouteDetail.StartDate" type='text' class="form-control" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span asp-validation-for="Routes[2].RouteDetail.StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Routes[2].RouteDetail.StartPoint" class="control-label">Miejsce wyjazdu</label>
                            <input asp-for="Routes[2].RouteDetail.StartPoint" class="form-control" />
                            <span asp-validation-for="Routes[2].RouteDetail.StartPoint" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Routes[2].RouteDetail.EndDate" class="control-label">Data przyjazdu</label>
                            <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                <input asp-for="Routes[2].RouteDetail.EndDate" type='text' class="form-control" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <span asp-validation-for="Routes[2].RouteDetail.EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Routes[2].RouteDetail.EndPoint" class="control-label">Miejsce docelowe</label>
                            <input asp-for="Routes[2].RouteDetail.EndPoint" class="form-control" />
                            <span asp-validation-for="Routes[2].RouteDetail.EndPoint" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label asp-for="Routes[2].RouteDetail.Kilometers" class="control-label">Kilometry</label>
                        <input asp-for="Routes[2].RouteDetail.Kilometers" class="form-control" />
                        <span asp-validation-for="Routes[2].RouteDetail.Kilometers" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" onclick="CheckBoxSend()" />
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>





@section Scripts {

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#AdditionalRouteCheckBox').prop('checked', true);
              CheckState('TypeTransportSelectorR0', 'VehicleR0', 'VehicleSelectorR0');
              CheckState('TypeTransportSelectorR1', 'VehicleR1', 'VehicleSelectorR1');
               CheckState('TypeTransportSelectorR2', 'VehicleR2', 'VehicleSelectorR2');
        });

        function CheckBox() {

            if ($('#AdditionalRouteCheckBox').is(':checked')) {
                $('#AdditionalRoute').children().removeAttr("disabled", "disabled");
                $('#AdditionalRoute').show();
            }
            else {
                $('#AdditionalRoute').hide();
                $('#AdditionalRoute').children().attr("disabled", "disabled");
            }
        }

        function CheckBoxSend() {
            if (!$('#AdditionalRouteCheckBox').is(':checked')) {
                $('#AddRouteDiv').empty();
            }
        }

        function CheckState(ttSelector, vehicleDiv, vehicleSelector) {
            if ($(ttSelector).val() != "1") {
                $("#" + vehicleDiv).hide();
                $("#" + vehicleSelector).val("0");  
            }
            else {
                $("#" + vehicleDiv).show();
                $("#" + vehicleDiv).val("1");
            }
        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
