@model DelegationsMVC.Application.ViewModels.DelegationVm.ListDelegationForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered" id="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Numer delegacji
            </th>
            <th>
                Początek delegacji
            </th>
            <th>
                Koniec delegacji
            </th>
            <th>
                Miejsce delegacji
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Delegations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DelegationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DelegationStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDelegation", new {  id = item.Id  }) |
                    @Html.ActionLink("Details", "ViewDelegation", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteDelegation", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "pagingType": "full_numbers"
            });
        });
    </script>
}
