@model DelegationsMVC.Application.ViewModels.DelegationVm.ListDelegationForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                del no
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.StartDate)*@
            </th>
            <th>
             @*   @Html.DisplayNameFor(model => model.EndDate)*@
            </th>
            <th>
                destination
            </th>
            <th>
                status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Delegations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelegationNo)
            </td>
            <td>
           @*     @Html.DisplayFor(modelItem => item.StartDate)*@
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EndDate)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelegationStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
