@model DelegationsMVC.Application.ViewModels.DelegationVm.ListDelegationForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista delegacji pracowników</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<br />
<table class="table table-bordered table-striped" id="table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align :center">
                Numer
            </th>
            <th style="text-align :center">
                Początek
            </th>
            <th style="text-align :center">
                Koniec
            </th>
            <th style="text-align :center">
                Miejsce
            </th>
            <th style="text-align :center">
                Status
            </th>
            <th style="text-align :center">
                Prezes
            </th>
            <th style="text-align :center">
                Księgowość
            </th>
            <th style="text-align :center">
                Szczegóły
            </th>
            <th style="text-align :center">
                Akceptacje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Delegations)
        {
            <tr>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.DelegationNo)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.DelegationStatus)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.ChiefApprovedDate)
                </td>
                <td style="text-align :center">
                    @Html.DisplayFor(modelItem => item.AccoutantApprovedDate)
                </td>
                <td style="text-anchor:middle; text-align :center">
                    <a class="btn btn-info btn-sm" href="@Url.Action("ViewDelegation", "Delegation", new { id = item.Id })">Szczegóły</a>
                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteDelegation", "Delegation", new { id = item.Id })">Anuluj</a>
                </td>
                <td style="text-anchor:middle; text-align :center">
                    <a class="btn btn-success btn-sm" href="@Url.Action("AcceptOrPaidDelegation", "Delegation", new { delId = item.Id, delStatus = 2 })">Potwierdź</a>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("AcceptOrPaidDelegation", "Delegation", new { delId = item.Id, delStatus = 4 })">Opłać</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">



    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').DataTable({
                "pagingType": "full_numbers",
                "language": {
                    "lengthMenu": "Pokaż _MENU_ delegacji na stronie",
                    "zeroRecords": "Brak pasujących delegacji",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak delegacji w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ liczby rekordów)",
                    "search": "Wyszukaj: ",
                    "select": {
                        "rows": " (%d wybranych)"
                    },
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },

                },
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5, 6]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5, 6]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 5, 6]
                        }
                    },
                ],
                "columnDefs": [
                    { "orderable": false, "targets": 7 },
                    { "orderable": false, "targets": 8 }
                ]
            });
        });
    </script>
}
