@model DelegationsMVC.Application.ViewModels.DelegationVm.DelegationDetailVm

@{
    ViewData["Title"] = "ViewDelegation";
}



<div class="form-row">
    <h1>Podgląd delegacji</h1>
</div>
<br/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Numer delegacji:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DelegationNo)
        </dd>
        <dt class="col-sm-2">
            Imię i nazwisko:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class="col-sm-2">
            Miejsce podróży:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            Cel podróży:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class="col-sm-2">
            Data utworzenia:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            Status delegacji:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DelegationStatus)
        </dd>
    </dl>
</div>

<div class="row">
    <table class="table table-bordered" id="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Data wyjazdu
                </th>
                <th>
                    Miejsce wyjazdu
                </th>
                <th>
                    Data przyjazdu
                </th>
                <th>
                    Miejsce przyjazdu
                </th>
                <th>
                    Rodzaj transportu
                </th>
                <th>
                    Rodzaj podróży
                </th>
                <th>
                    Kilometry
                </th>
                <th>
                    Zwrot
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model.Routes)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => route.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.StartPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.EndPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.TypeOfTransport)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.RouteType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.Kilometers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => route.MileageAllowence)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<dl class="row">
    <dt class="col-sm-2">
        Ilość dni w delegacji:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DaysInDelegation)  PLN
    </dd>
    <dt class="col-sm-2">
        Noclegi:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Costs.FirstOrDefault(c => c.CostTypeId == 1).Amount)  PLN
    </dd>
    <dt class="col-sm-2">
        Dieta:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SubsistenceAllowence)  PLN
    </dd>
    <dt class="col-sm-2">
        Zwot z podróży:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MileageAllowence)  PLN
    </dd>
    <dt class="col-sm-2">
        Dodatkowe koszty:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Costs.FirstOrDefault(c => c.CostTypeId == 2).Amount)  PLN
    </dd>
    <dt class="col-sm-2">
        Podsumowanie:
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.SummaryAllowence)  PLN
    </dd>
</dl>
<dl class="row">
    <dt class="col">
        Data zatwierdzenia prezesa:
    </dt>
    <dd class="col">
        @Html.DisplayFor(model => model.ChiefApprovedDate)
    </dd>
    <dt class="col">
        Data zatwierdzenia księgowości:
    </dt>
    <dd class="col">
        @Html.DisplayFor(model => model.AccoutantApprovedDate)
    </dd>
    <dt class="col">
        Data wypłaty:
    </dt>
    <dd class="col">
        @Html.DisplayFor(model => model.PaidDateDate)
    </dd>
</dl>
<div>
   @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    <a class="btn btn-info" asp-action="Index">Powrót do listy delegacji</a>
</div>
