@model DelegationsMVC.Application.ViewModels.DestinationVm.ListDestinationForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Klienci</h1>

<br />
<div class="divRadius table-responsive">
    <table class="table table-bordered table-striped" id="table" width="100%">
        <thead class="thead-dark">
            <tr>
                <th style="text-align :center">
                    Nazwa
                </th>
                <th style="text-align :center">
                    Kraj
                </th>
                <th style="text-align :center">
                    Współpraca od
                </th>
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Destinations)
            {
                <tr>
                    <td style="text-align :center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="text-align :center">
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td style="text-align :center">
                        @Html.DisplayFor(modelItem => item.CooperationSince)
                    </td>
                    <td style="text-anchor:middle; text-align :center">
                        <a class="btn btn-danger btn-sm" href="javascript:DeleteDest('@item.Id','@item.Name')">
                            <i class="far fa-minus-square"></i>
                            Usuń
                        </a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("ViewDestination", "Destination", new { id = item.Id })">
                            <i class="fa fa-info"></i>
                            Szczegóły
                        </a>
                        <a class="btn btn-info btn-sm" href="javascript:EditDest('@item.Id')">
                            <i class="far fa-edit"></i>
                            Edytuj
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input id="AddDest" type="button" class="btn btn-success" onclick="AddDest()" value="Dodaj klienta" />
    <br />
    <br />
    <div id="Dest">

    </div>
</div>


@section Scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.0.1/css/searchBuilder.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://momentjs.com/downloads/moment.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/searchbuilder/1.0.1/js/dataTables.searchBuilder.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.dataTable.moment('DD.MM.YYYY');
            $('#table').DataTable({
                "scrollX": true,
                responsive: true,
                searchBuilder: {
                    columns: [0, 1, 2]
                },
                dom: 'Qlfrtip',
                "pagingType": "full_numbers",
                "language": {
                    searchBuilder: {
                        add: 'Dodaj filtr',
                        condition: 'Warunek',
                        conditions: {
                            date: {
                                before: 'Przed',
                                after: 'Po',
                                equals: 'Dnia',
                                not: 'Różna od',
                                between: 'Pomiędzy',
                                notBetween: 'Poza',
                                empty: 'Jest pusta',
                                notEmpty: 'Nie jest pusta'
                            },
                            moment: {
                                before: 'Przed',
                                after: 'Po',
                                equals: 'Dnia',
                                not: 'Różna od',
                                between: 'Pomiędzy',
                                notBetween: 'Poza',
                                empty: 'Jest pusta',
                                notEmpty: 'Nie jest pusta'
                            },
                            number: {
                                equals: 'Równe',
                                not: 'Różna od',
                                gt: 'Większa od',
                                gte: 'Większa lub równa od',
                                lt: 'Mniejsza od',
                                lte: 'Mniejsza lub równa od',
                                between: 'Pomiędzy',
                                notBetween: 'Poza',
                                empty: 'Jest pusta',
                                notEmpty: 'Nie jest pusta'
                            },
                            string: {
                                contains: 'Zawiera',
                                empty: 'Jest pusta',
                                notEmpty: 'Nie jest pusta',
                                equals: 'Równa',
                                not: 'Różna od',
                                endsWith: 'Kończy się na',
                                startsWith: 'Zaczyna się od'
                            },
                        },
                        clearAll: 'Wyczyść',
                        deleteTitle: 'Usuń',
                        data: 'Kolumna',
                        leftTitle: 'Lewo',
                        logicAnd: 'oraz',
                        logicOr: 'lub',
                        rightTitle: 'Prawo',
                        title: {
                            0: 'Filtry',
                            _: 'Filtry (%d)'
                        },
                        value: 'Opcja',
                        valueJoiner: 'do'
                    },
                    "lengthMenu": "Pokaż _MENU_ klientów na stronie",
                    "zeroRecords": "Brak pasujących klientów",
                    "info": "Strona _PAGE_ z _PAGES_",
                    "infoEmpty": "Brak klientów w bazie",
                    "infoFiltered": "(przeszukano z _MAX_ liczby rekordów)",
                    "search": "Wyszukaj: ",
                    "select": {
                        "rows": " (%d wybranych)"
                    },
                    "paginate": {
                        "first": "Pierwsza",
                        "last": "Ostatnia",
                        "next": "Następna",
                        "previous": "Poprzednia"
                    },

                },
                "columnDefs": [
                    { "orderable": false, "targets": 3 }
                ]
            });
        });

        function EditDest(id) {
            var $divDest = $('#Dest');
            $divDest.empty();
            var url = '@Url.Action("EditDestination", "Destination")/' + id;
            $divDest.load(url);
            $('#AddDest').attr("onclick", "ClearDest()").attr("value", "Usuń formularz").attr("class", "btn btn-danger");
        }

        function ClearDest() {
            $('#Dest').empty();
            $('#AddDest').attr("onclick", "AddDest()").attr("value", "Dodaj klienta").attr("class", "btn btn-success");
           }

          function AddDest() {
            var $divDest = $('#Dest');
            $divDest.empty();
            var url = '@Url.Action("AddDestination","Destination")';
            $divDest.load(url);
              $('#AddDest').attr("onclick", "ClearDest()").attr("value", "Usuń formularz").attr("class", "btn btn-danger");
        }

         function DeleteDest(id, name) {
            if (confirm('Czy na pewno chcesz usunąć klienta ' + name + '?')) {
                $.ajax({
                url: '@Url.Action("DeleteDestination", "Destination")',
                type: 'POST',
                data: { id: id },
                success: function(result) {
                    location.reload();
                }
                });
            }
        }
    </script>
}
