@model DelegationsMVC.Application.ViewModels.EmployeeVm.NewEmployeeVm

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>AddEmployee</h1>

<h4>NewEmployeeVm</h4>
<hr />
<form asp-action="AddEmployee">
    <div class="col-md-8 order-md-1">
        <div class="row">
            <h4>Dane osobowe/pracownicze</h4>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6 mb-3">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label asp-for="FirstName" class="control-label">Imie</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="EmployeeTypeId" class="control-label">Pozycja</label>
                <select asp-for="EmployeeTypeId" asp-items="@(new SelectList(Model.EmployeeTypes,"Id", "Name"))" class="custom-select"></select>
                <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="BankAccountCode" class="control-label">Numer konta bankowego</label>
                <input asp-for="BankAccountCode" class="form-control" />
                <span asp-validation-for="BankAccountCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    @*<div class="form-group">
            <label asp-for="ContactDetails[0].ContactDetailInformation" class="control-label">Adres email</label>
            <input asp-for="ContactDetails[0].ContactDetailInformation" class="form-control" />
            <input type="hidden" asp-for="ContactDetails[0].ContactDetailTypeId" value="2" />
            <span asp-validation-for="ContactDetails" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ContactDetails[1].ContactDetailInformation" class="control-label">Numer telefonu</label>
            <input asp-for="ContactDetails[1].ContactDetailInformation" class="form-control" />
            <input type="hidden" asp-for="ContactDetails[1].ContactDetailTypeId" value="1" />
            <span asp-validation-for="ContactDetails" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Vehicles[0].PlateNumbers" class="control-label">Numer rejestracyjny pojazdu</label>
            <input asp-for="Vehicles[0].PlateNumbers" class="form-control" />
            <label asp-for="Vehicles[0].EngineTypeId" class="control-label">Pojemność skokowa pojazdu</label>
            <select asp-for="Vehicles[0].EngineTypeId" asp-items="@(new SelectList(Model.EngineTypes,"Id", "Name"))" class="custom-select"></select>
            <span asp-validation-for="Vehicles" class="text-danger"></span>
        </div>*@
    @*<div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div>
                    <h4>Dane kontaktowe</h4>
                </div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Kontakt</th>
                        <th>Rodzaj kontaktu</th>
                    </tr>
                    @for (var i = 0; i < 4; i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="ContactDetails[i].ContactDetailInformation" class="form-control" />
                            </td>
                            <td>
                                <select asp-for="ContactDetails[i].ContactDetailTypeId" asp-items="@(new SelectList(Model.ContactDetailTypes,"Id", "Name"))" class="custom-select"></select>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-1">

            </div>
            <div class="col-xs-6">
                <div>
                    <h4>Dane pojazdów</h4>
                </div>
                <table class="table-bordered table-striped table">
                    <tr>
                        <th>Numer rejestracyjny</th>
                        <th>Pojemność skokowa</th>
                    </tr>
                    @for (var i = 0; i < 0; i++)
                        {
                            <tr>
                                <td>
                                    <input asp-for="Vehicles[i].PlateNumbers" class="form-control" />
                                </td>
                                <td>
                                    <select asp-for="Vehicles[i].EngineTypeId" asp-items="@(new SelectList(Model.EngineTypes, "Id","Name"))" class="custom-select"></select>
                                </td>
                            </tr>
                        }
                </table>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-xs-6" id="ContactDetails">
            <h4>Dane kontaktowe</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ContactDetails[0].ContactDetailInformation" class="control-label">Dane kontaktowe</label>
                    <input asp-for="ContactDetails[0].ContactDetailInformation" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ContactDetails[0].ContactDetailTypeId" class="control-label">Rodzaj kontaktu</label>
                    <select asp-for="ContactDetails[0].ContactDetailTypeId" asp-items="@(new SelectList(Model.ContactDetailTypes, "Id","Name"))" class="custom-select"></select>
                </div>
            </div>
            <div class="form-group">
                <input id="AddButton" type="button" value="Dodaj dodatkowy kontakt" onclick="AddContact()" />
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-xs-6" id="Vehicles">
            <h4>Pojazdy</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Vehicles[0].PlateNumbers" class="control-label">Numer rejestracyjny</label>
                    <input asp-for="Vehicles[0].PlateNumbers" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Vehicles[0].EngineTypeId" class="control-label">Rodzaj silnika</label>
                    <select asp-for="Vehicles[0].EngineTypeId" asp-items="@(new SelectList(Model.EngineTypes, "Id","Name"))" class="custom-select"></select>
                </div>
            </div>
            <div class="form-group">
                <input id="AddButton" type="button" value="Dodaj dodatkowy pojazd" onclick="AddVehicle()" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
        var i = 1;
        var j = 1;

        function AddVehicle() {
            var div = GetDynamicTextBox(i, true);
            $("#Vehicles").append(div);
                i++;
        }

        function AddContact() {
            var div = GetDynamicTextBox(j, false);
            $("#ContactDetails").append(div);
            j++;
        }

        function GetDynamicTextBox(i, isVehicle) {
            var divFather = $("<div />").attr("class", "row");
            var divChild1 = $("<div />").attr("class", "col-md-6 mb-3");
            var divChild2 = $("<div />").attr("class", "col-md-6 mb-3");
            var value = "";
            if (isVehicle) {
                var input = $("<input />").attr("class", "form-control").attr("name", "Vehicles[" + i + "].PlateNumbers");
                var select = $("<select></select>").attr("class", "custom-select").attr("id", "Vehicles[" + i + "].EngineType");
                //input.val(value);
                @*var modelss = [];
                @foreach(var item in Model.EngineTypes)
                {
                    @: modelss.push('@item');
                }*@

                @*var models = @Json.Serialize(Model.EngineTypes);
                for (var i = 0; i < modelss.length; i++) {
                    var modelik = models[i];
                    selectList.append('<option value="' + modelik.Id + '" selected="selected">' + modelik.Name + '</option>');
                }*@
                var engineTypes = "";
                $.ajax({
                    url: "/Employee/GetEngineTypes",
                    datatype: "JSON",
                    type: "Get",
                    success: function (data) {
                        $(data).each(function () {
                            engineTypes += '<option value ="' + this.Id + '">' + this.Name + '</option>'
                        })
                        select.append(engineTypes);
                    }
                });
            }
            else {
                var input = $("<input />").attr("class", "form-control").attr("name", "ContactDetails[" + i + "].ContactDetailInformation");
                var select = $("<select></select>").attr("class", "custom-select").attr("id", "ContactDetails[" + i + "].ContactDetailTypeId");
            }
            input.val(value);
            divChild1.append(input);
            divChild2.append(select);
            divFather.append(divChild1);
            divFather.append(divChild2);

            var button = $("<input />").attr("type", "button").attr("value", "Remove");
            button.attr("onclick", "RemoveTextBox(this)");
            return divFather;
        }

        function RemoveTextBox(button) {
            $(button).parent().remove();
            i--;
        }

                //$(document).ready(function () {
        //    var i = 1;
        //    $("#<%= AddButton.ClientID%>").click(function () {
        //        var div = GetDynamicTextBox(0);
        //        $("#TextBoxContainer").append(div);
        //        i++;
        //    });
        //});
        //});

        //    var i = 1;
        //    $("#AddButton").click(function () {
        //        var s = "";
        //       // s += '<div id="innerdiv" class="border pad">Hi there!'+i+'</div>'
        //        s += '<input asp-for="Vehicles['+i+'].PlateNumbers" class="form-control">';
        //        $('#TextBoxContainer').append(s);
        //        d += '<input type="hidden" asp-for="Vehicles[' + i +'].EngineType" value="1" />'
        //        $('#TextBoxContainer').append(d);
        //        i++;
        //    })

        //function create(param) {
        //    var s = "";
        //    for (var i = 0; i < param; i++) {
        //        s += '<input asp-for="Vehicles[i].PlateNumbers" class="form-control">'; //Create one textbox as HTML
        //    }
        //    document.getElementById("TextBoxContainer").innerHTML = s;
        //}
        //$(document).ready(function () {
        //    var i = 1;
        //    $("#AddButton").on('click', function () {
        //        var div = $("<div />");
        //        var value = "";

        //        var PlateNumbers = $("<input />").attr("class", "form-control").attr("asp-for", "Vehicles[" + i + "].PlateNumbers");
        //        var EngineType = $("<input />").attr("type", "textbox").attr("name", "Vehicles[" + i + "].EngineTypeId");

        //        PlateNumbers.val(value);
        //        EngineType.val(value)
        //        div.append(PlateNumbers);
        //        div.append(EngineType);
        //        var button = $("<input />").attr("type", "button").attr("value", "Remove");
        //        button.attr("onclick", "RemoveTextBox(this)");
        //        div.append(button);
        //        $("#TextBoxConatiner").append(div);
        //        document.getElementById("TextBoxContainer").innerHTML(div);
        //        i++;
        //    })
        //})
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
