@model DelegationsMVC.Application.ViewModels.EmployeeVm.NewEmployeeVm

@{
    ViewData["Title"] = "AddEmployee";
}

<h1>Utwórz konto pracownicze</h1>

<form asp-action="AddEmployee">
    <div class="col-md-8 order-md-1">
        <div class="row">
            <h4>Dane osobowe/pracownicze</h4>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6 mb-3">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <label asp-for="FirstName" class="control-label">Imie</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label asp-for="EmployeeTypeId" class="control-label">Pozycja</label>
                <select asp-for="EmployeeTypeId" asp-items="@(new SelectList(Model.EmployeeTypes,"Id", "Name"))" class="custom-select"></select>
                <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="BankAccountCode" class="control-label">Numer konta bankowego</label>
                <input asp-for="BankAccountCode" class="form-control" />
                <span asp-validation-for="BankAccountCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6" id="ContactDetails">
            <h4>Dane kontaktowe</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="ContactDetails[0].ContactDetailInformation" class="control-label">Dane kontaktowe</label>
                    <input asp-for="ContactDetails[0].ContactDetailInformation" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ContactDetails[0].ContactDetailTypeId" class="control-label">Rodzaj kontaktu</label>
                    <select asp-for="ContactDetails[0].ContactDetailTypeId" asp-items="@(new SelectList(Model.ContactDetailTypes, "Id","Name"))" class="custom-select"></select>
                </div>
            </div>
            <div class="form-group">
                <input id="AddButton" type="button" class="btn btn-dark btn-sm" value="Dodaj kontakt" onclick="AddContact()" />
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-xs-6" id="Vehicles">
            <h4>Pojazdy</h4>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Vehicles[0].PlateNumbers" class="control-label">Numer rejestracyjny</label>
                    <input asp-for="Vehicles[0].PlateNumbers" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Vehicles[0].EngineTypeId" class="control-label">Rodzaj silnika</label>
                    <select asp-for="Vehicles[0].EngineTypeId" asp-items="@(new SelectList(Model.EngineTypes, "Id","Name"))" class="custom-select"></select>
                </div>
            </div>
            <div class="form-group">
                <input id="AddButton" type="button" class="btn btn-dark btn-sm" value="Dodaj pojazd" onclick="AddVehicle()" />
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Stwórz pracownika" class="btn btn-dark btn-lg" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script type="text/javascript">
        var i = 0;
        var j = 0;

        function AddVehicle() {
            i++;
            var div = GetDynamicElements(i, true);
            $("#Vehicles").append(div);
        }

        function AddContact() {
            j++;
            var div = GetDynamicElements(j, false);
            $("#ContactDetails").append(div);
        }

        function GetDynamicElements(i, isVehicle) {
            
            var divChild1 = $("<div />").attr("class", "col-md-6 mb-3");
            var divChild2 = $("<div />").attr("class", "col-md-6 mb-3");
            var value = "";
            if (isVehicle) {
                var divFather = $("<div />").attr("class", "row").attr("id","veh" + i);
                var input = $("<input />").attr("class", "form-control").attr("name", "Vehicles[" + i + "].PlateNumbers");
                var select = $("<select></select>").attr("class", "custom-select").attr("name", "Vehicles[" + i + "].EngineTypeId");
                @foreach(var item in Model.EngineTypes)
                {
                     @: select.append($("<option></option>").attr("value", '@item.Id').text('@item.Name'));
                }
                var button = $("<input />").attr("type", "button").attr("class", "btn btn-dark btn-sm").attr("value", "Usuń pojazd").attr("id", "Vehicle");
                if (i > 1) {
                    document.getElementById("Vehicle").remove();
                }  
            }
            else {
                var divFather = $("<div />").attr("class", "row").attr("id", "cd" + j);
                var input = $("<input />").attr("class", "form-control").attr("name", "ContactDetails[" + i + "].ContactDetailInformation");
                var select = $("<select></select>").attr("class", "custom-select").attr("name", "ContactDetails[" + i + "].ContactDetailTypeId");
                 @foreach(var item in Model.ContactDetailTypes)
                {
                     @: select.append($("<option></option>").attr("value", '@item.Id').text('@item.Name'));
                }
                var button = $("<input />").attr("type", "button").attr("class", "btn btn-dark btn-sm").attr("value", "Usuń kontakt").attr("id", "Contact");
                if (j > 1) {
                    document.getElementById("Contact").remove();
                }  
            }
            input.val(value);
            divChild1.append(input);
            divChild2.append(select);
            divFather.append(divChild1);
            divFather.append(divChild2);

            button.attr("onclick", "RemoveElement(this)");
            divFather.append(button);
            return divFather;
        }

        function RemoveElement(button) {
            if (button.id == "Contact") {
                if (j != 1) {
                    var buttonToAdd = $("<input />").attr("type", "button").attr("class", "btn btn-dark btn-sm").attr("value", "Usuń kontakt")
                        .attr("id", "Contact").attr("onclick", "RemoveElement(this)");
                    var item = document.getElementById("cd" + (j-1));
                    $(item).append(buttonToAdd);
                }
                j--;
            }
            else {
                if (i != 1) {
                    var buttonToAdd = $("<input />").attr("type", "button").attr("class", "btn btn-dark btn-sm").attr("value", "Usuń pojazd")
                        .attr("id", "Vehicle").attr("onclick", "RemoveElement(this)");
                    var item = document.getElementById("veh" + (i - 1));
                    $(item).append(buttonToAdd);
                }
                i--;
            }  
            $(button).parent().remove();
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
