@model DelegationsMVC.Application.ViewModels.EmployeeVm.NewEmployeeVm

@{
    ViewData["Title"] = "EditEmployee";
}

<div class="form-row">
    <h1>Edytuj dane</h1>
</div>

<div class=" form-row">
    <div class="col-md-8">
        <form asp-action="EditEmployee">
            <div class="form-row">
                <h4>Dane osobowe/pracownicze</h4>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label">Imię</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label">Naziwsko</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="EmployeeTypeId" class="control-label">Pozycja</label>
                    <select asp-for="EmployeeTypeId" asp-items="@(new SelectList(Model.EmployeeTypes, "Id", "Name"))" class="custom-select"></select>
                    <span asp-validation-for="EmployeeTypeId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="BankAccountCode" class="control-label">Numer konta bankowego</label>
                    <input asp-for="BankAccountCode" class="form-control" />
                    <span asp-validation-for="BankAccountCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <h2>Pojazdy</h2>
        <br />
        <table class="table table-bordered">
            <thead class=" thead-dark">
                <tr>
                    <th>
                        Numer rejestracyjny
                    </th>
                    <th>
                        Rodzaj pojazdu
                    </th>
                    <th>
                        Akcja
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Vehicles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlateNumbers)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.EngineType)
                        </td>
                        <td>
                            @Html.ActionLink("Usuń", "DeleteVehicle", new { idVeh = item.Id, idEmp = Model.Id })
                            |
                            <a href="javascript:EditVeh(@item.Id)">Edytuj</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input id="AddVehicle" type="button" class="btn btn-dark" value="Dodaj pojazd" onclick="AddVeh()" />
        <div id="VehicleEdit">

        </div>
        <div id="Vehicle">

        </div>
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col">
        <h2>Dane kontaktowe</h2>
        <br />
        <div class="form-row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Kontakt
                            </th>
                            <th>
                                Rodzaj kontaktu
                            </th>
                            <th>
                                Akcja
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContactDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactDetailInformation)
                                <td>
                                    @Html.DisplayFor(modelitem => item.ContactDetailType)
                                </td>
                                <td>
                                    @Html.ActionLink("Usuń", "DeleteContact", new { idCon = item.Id, idEmp = Model.Id })
                                    |
                                    <a href="javascript:EditContact(@item.Id)">Edytuj</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="AddContact" type="button" class="btn btn-dark" value="Dodaj kontakt" onclick="AddContact()" />
                <div id="Contact">

                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    <script type="text/javascript">

        function AddVeh() {
            var $divVeh = $('#Vehicle');
            $divVeh.empty();
            var url = '@Url.Action("NewVehicle","Employee", new { id = Model.Id } )';
            $divVeh.load(url);
            $('#AddVehicle').attr("onclick", "ClearVeh()").attr("value", "Usuń formularz");
        }

        function ClearVeh() {
            $('#Vehicle').empty();
            $('#AddVehicle').attr("onclick", "AddVeh()").attr("value", "Dodaj pojazd");
        }

        function EditVeh(vehId) {
            ClearVeh();
            var $divVeh = $('#Vehicle');
            var url = '@Url.Action("EditVehicle","Employee")/' + vehId;
            $divVeh.load(url);
        }

        function AddContact() {
            var $divCon = $('#Contact');
            $divCon.empty();
            var url = '@Url.Action("NewContact","Employee", new { id = Model.Id } )';
            $divCon.load(url);
            $('#AddContact').attr("onclick", "ClearContact()").attr("value", "Usuń formularz");
        }

        function ClearContact() {
            $('#Contact').empty();
            $('#AddContact').attr("onclick", "AddContact()").attr("value", "Dodaj kontakt");
        }

        function EditContact(conId) {
            ClearContact();
            var $divCon = $('#Contact');
            var url = '@Url.Action("EditContact","Employee")/' + conId;
            $divCon.load(url);
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
