@page
@model RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się";
}

<div class="divLogin">
    <div class="row">
        <div class="col">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group" style="text-align:center; margin-left: auto; margin-right: auto;">
                    <img src="~/images/loginPngImage.png" style="height:200px; width:250px;" />
                </div>
                <h4 style="text-align:center; margin-left: auto; margin-right: auto;">Stwórz nowe konto</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="font-size:20px;"><i class="fas fa-envelope" style="margin-right:2px"></i>Email</label>
                    <input asp-for="Input.Email" class="form-control" placeholder="example@address.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="font-size:20px;"><i class="fas fa-lock" style="margin-right:2px"></i>Hasło</label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" style="font-size:20px;"><i class="fas fa-lock" style="margin-right:2px"></i>Powtórz hasło</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-left:auto; margin-right:auto; text-align:center">
                    <button type="submit" class="btn btn-info rounded-pill" style="text-align:center; width:200px; margin:auto ">
                        <i class="fas fa-sign-in-alt iconItem"></i>
                        Zarejestruj się
                    </button>
                </div>
                @*<button type="submit" class="btn btn-primary">Zarejestruj się</button>*@
            </form>
            @if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="form-group" style="text-align:center; margin-left: auto; margin-right: auto;">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {

                                if (provider.DisplayName == "Google")
                                {
                                    <button type="submit" class="btn border-0 bg-transparent" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">
                                        <i class="fab fa-google" style="font-size:30px; margin-right:5px"></i>
                                    </button>
                                }
                                if (provider.DisplayName == "Facebook")
                                {
                                    <button type="submit" class="btn border-0 bg-transparent" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">
                                        <i class="fab fa-google" style="font-size:30px; margin-right:5px"></i>
                                    </button>
                                }
                            }
                        </p>
                    </div>
                    </form>
                    }
            </div>
        @*<div class="col-md-6 col-md-offset-2">*@
        @*<section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                {
                    <div class="form-group" style="text-align:center; margin-left: auto; margin-right: auto;">
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {

                                if (provider.DisplayName == "Google")
                                {
                                    <button type="submit" class="btn border-0 bg-transparent" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">
                                        <i class="fab fa-google" style="font-size:30px; margin-right:5px"></i>
                                    </button>
                                }
                                if (provider.DisplayName == "Facebook")
                                {
                                    <button type="submit" class="btn border-0 bg-transparent" name="provider" value="@provider.Name" title="Zaloguj się za pomocą @provider.DisplayName">
                                        <a><i class="fab fa-google" style="font-size:30px; margin-right:5px"></i></a>
                                    </button>
                                }
                            }
                        </p>
                    </div>
                }*@
        @*else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }*@
        @*</section>
            </div>*@
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
